@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

body {
  font-family: 'Poppins', sans-serif; /* Fuente por defecto para todo el cuerpo */
}

/* Estilo específico para el texto semi-bold */
@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza completamente transparente */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

h1 {
  font-size: 5vw; /* Tamaño de fuente responsive */
  line-height: 1.1;
  color: #ffffff; /* Color de texto */
  text-align: center;
  font-weight: 600; /* Peso Extra Bold */
  animation: fadeIn 1s ease-in-out; /* Añade la animación de desvanecimiento */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza completamente transparente */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}

h1, svg {
  animation: fadeIn 1s ease-in-out; /* Añade la animación de desvanecimiento */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(34, 34, 34, 0.87);
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  padding: 10px;
  background-color: #ffffff;
}



h2, h3 {
  color: #6628b4;
  font-weight: 600;
}


h2 {
  color: #6628b4;
    font-weight: 800; /* Peso Extra Bold */
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  margin: 5px 0;
  width: 100%;
  max-width: 220px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

li {
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  background-color: #edeafb;
  color: #4c087f;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.completed {
  text-decoration: line-through;
  color: #6d3fe2
}

.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
}

/* Botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: #733BFF; /* Color nuevo */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
  margin-top: 10px;
  display: block;
}

button:hover {
  background-color: #592BCC; /* Tono más oscuro en hover */
}
.delete-button {
  background-color: #733BFF; /* Color nuevo */
  color: white;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s;
  width: auto;
  margin-left: 10px;
  margin-bottom: 8px;
  text-decoration: none !important; /* Evita el tachado */
}

.delete-button:hover {
  background-color: #592BCC; /* Hover ajustado */
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Checkbox estilos */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transform: scale(1.2);
}

input[type="checkbox"]:checked {
  background-color: #592BCC;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked::before {
  content: '✓';
  color: white;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  input,
  select,
  button {
    width: 100%;
    max-width: none;
  }
}
